@keyframes border-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient-border {
  position: relative;
  padding: 2px; /* Border thickness */
  border-radius: 0.75rem; /* Match Tailwind's rounded-lg */
  background: linear-gradient(270deg, #0408f9, #07f647, #f30909, #07e9f1 , #100f01);
  background-size: 400% 400%;
  animation: border-move 3s linear infinite;
}

.animated-gradient-border-inner {
  border-radius: 0.75rem;
}

