@keyframes border-move {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

.animated-gradient-borders {
  position: relative;
  padding: 2px; /* Border thickness */
  border-radius: 0.75rem; /* Match Tailwind's rounded-lg */
  background: linear-gradient(270deg,  #0a0a0a , #e61106, #1a0000 ,#001a1a , #0606e6, #0a0a1a, #08f42c);
  background-size: 400% 400%;
  animation: border-move 10s linear infinite;
}

.animated-gradient-border-inner {
  border-radius: 0.75rem;
}

